# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# IDE and editor configurations
.mr.developer.cfg
.project
.pydevproject
.ropeproject

# Logs and temporary file
*.log
*.pot

# Documentation build files
docs/_build/

.ipynb_checkpoints/ # Jupyter notebook ipynb_checkpoints

.venv/ # Ignore virtual environment
.env/

# Ignore operating system files
.DS_Store
Thumbs.db